.Main
  .Movie
    .Movie__photo
      Movie__photo
      = link_to
    .Movie__datails
      .Movie__title
        Movie__title
      .Movie__details
        Movie__datails
  .Review-list
    .Review__box
      .Review-box__title
        review__title
      .Review-box__text
        review__text
    .Review__box
      .Review-box__title
        review__title
      .Review-box__text
        review__text
    .Review__box
      .Review-box__title
        review__title
      .Review-box__text
        review__text
    .Review__box
      .Review-box__title
        review__title
      .Review-box__text
        review__text
  .Review-form
    .Review-form__inputbox
      review__inputbox
    .Review-form__input-btn
      input-btn
