.Main
  .Movie
    .Movie__photo
      Movie__photo
      = link_to
    .Movie__datails
      .Movie__title
      Movie__title
      .Movie__details
      Movie__datails
  .Review
    .Review__title
      review__title
    .Review__text
      review__text
