.Main
  .Movie
    .Movie__photo
      = image_tag @movie.image.url width: 200, height: 300
    .Movie__datails
      .Movie__title
        = @movie.title
      .Movie__details
        = @movie.synopsis
  .Review-list
    .Review__box
      .Review-box__title
        review__title
      .Review-box__text
        review__text
    .Review__box
      .Review-box__title
        review__title
      .Review-box__text
        review__text
    .Review__box
      .Review-box__title
        review__title
      .Review-box__text
        review__text
    .Review__box
      .Review-box__title
        review__title
      .Review-box__text
        review__text
  .Review-form
    .Review-form__inputbox
      review__inputbox
    .Review-form__input-btn
      input-btn
