.Side-bar
  .Movie-ranking
    人気ランキング
    .Movie-ranking__rank1
      劇場版鬼滅の刃無限列車編
    .Movie-ranking__rank2
      残穢
    .Movie-ranking__rank3
      アナイアレイション 全滅領域
  .New-movie
    新着映画
    .New-movie__new1
      武器人間
    .New-movie__new2
      虐殺器官
    .New-movie__new3
      エイリアン　コヴェナント
  .Tag-list
    タグリスト
    .tag-list__tag1
      ホラー
    .Tag-list__tag2
      アクション
    .Tag-list__tag3
      アニメ