.Side-bar
  .Movie-ranking
    人気ランキング
    .Movie-ranking__rank1
      rank1
    .Movie-ranking__rank2
      rank2
    .Movie-ranking__rank3
      rank3
  .New-movie
    新着映画
    .New-movie__new1
      new1
    .New-movie__new2
      new2
    .New-movie__new3
      new3
  .Tag-list
    タグリスト
    .tag-list__tag1
      tag1
    .Tag-list__tag2
      tag2
    .Tag-list__tag3
      tag3