.Side-bar
  .Movie-ranking
    人気ランキング
    .Movie-ranking__rank1
      鬼滅の刃　無限列車編
    .Movie-ranking__rank2
      武器人間
    .Movie-ranking__rank3
      アナイアレイション
  .New-movie
    新着映画
    .New-movie__new1
      タッカーとデイル
    .New-movie__new2
      武器人間
    .New-movie__new3
      ラブ・デス・ロボット
  .Tag-list
    タグリスト
    .tag-list__tag
      ホラー
    .Tag-list__tag
      アクション
    .Tag-list__tag
      SF
    .Tag-list__tag
      サスペンス
    .Tag-list__tag
      コメディ
  .Movie-registration
    映画登録
    