.new-movie
    %h3 "投稿する"
    = form_with model: [@tag], html: {class: "new-movie__form"}, local: true do |f|
        = f.text_field :name, class: 'new-tag__name', placeholder: 'タグの名前'
        = f.text_field :ancestry, class: 'new-tag__ancestry', placeholder: 'ancestry'
        = f.submit 'nEW', class: 'new-tag__submit-btn'