* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.Header {
  display: flex;
  height: 90px;
  width: 100vw;
  background-color:#222222;
  color: white;
  &__title{
    padding: 30px;
    font-size: 20px;
  }
  &__search{
    background-color: white;
    margin: 35px 10px;
    padding: 0px 30px;
    color: black;
  }
  &__user-function{
    margin: 30px;
  }
}

.Side-bar {
  height: calc(100vh - 90px);
  width: 200px;
  background-color: lightgrey;
  .Movie-ranking{
    margin: 10px;
    color: red;
    background-color: coral;
  }
  .New-movie {
    margin: 10px;
    color: yellow;
    background-color: darkkhaki;
  }
  .Tag-list {
    margin: 10px;
    color: blue;
    background-color: deepskyblue;
  }
}

.Main {
  height: calc(100vh - 90px);
  width: calc(100vw - 200px);
  background-color: white;
  .Movie{
    background-color: brown;
    margin: 10px;
    height: 400px;
    display: flex;
  }
  .Review{
    background-color: cadetblue;
  }
}