* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.Header {
  display: flex;
  height: 90px;
  width: 100vw;
  background-color:#222222;
  color: white;
  &__title{
    padding: 30px;
    font-size: 20px;
    color: white;
  }
  &__search{
    background-color: white;
    margin: 35px 10px;
    padding: 0px 30px;
    color: black;
  }
  &__user-function{
    margin: 30px;
  }
}

.Side-bar {
  height: calc(100vh - 90px);
  width: 30vw;
  background-color: lightgrey;
  overflow: scroll;
  .Movie-ranking{
    margin: 10px;
    color: red;
    background-color: coral;
  }
  .New-movie {
    margin: 10px;
    color: yellow;
    background-color: darkkhaki;
  }
  .Tag-list {
    margin: 10px;
    color: blue;
    background-color: deepskyblue;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    &__tag {
      color: black;
    }
  }
  .Movie-registration {
    margin: 10px;
    color: black;
    background-color: white;
  }
}

.Main {
  width: 70vw;
  height: calc(100vh - 90px);
  overflow: scroll;
  .Movie-choice{
    background-color: gray;
    height: 320px;
    &__list {
      height: 300px;
      display: flex;
      overflow-x: scroll;
      justify-content: space-between;
    }
  }
  .New-movie {
    height: 320px;
    background-color: white;
    &__list {
      height: 300px;
      display: flex;
      overflow-x: scroll;
      justify-content: space-between;
    }
  }
  .Movie-list {
    height: 320px;
    background-color: gray;
    &__list {
      height: 290px;
      display: flex;
      overflow-x: scroll;
      justify-content: space-between;
    }
  }
}

.Show-main {
  height: calc(100vh - 90px);
  width: 70vw;
  background-color: gray;
  overflow: scroll;
  .Movie{
    background-color: brown;
    margin: 10px;
    height: 440px;
    &-title {
      height: 40px;
      color: white;
      background-color: black;
      &__titleruby {
        font-size: 10px;
      }
      &__title {
        font-size: 20px;
      }
    }
    &__details {
      display: flex;
    }
    &__detail {
      width: 100%;
    }
    &__synopsis {
      background-color: white;
      height: 370px;
      overflow: scroll;
    }
    &__category {
      color: white;
      background-color: black;
      height: 30px;
    }
  }
  .Review-list{
    background-color: cadetblue;
    margin: 10px;
    padding: 5px;
    .Review-box {
      background-color: white;
      border: solid 1px black;
      margin-bottom: 5px;
      &__title{
        border: 1px, cadetblue, solid;
      }
      &__text{

      }
    }
  }
  .Review-form {
    height: 120px;
    margin: 10px;
    padding: 5px;
    background-color: chocolate;
    .Input-box {
      display: flex;
      flex-direction: column;
      &__title-form {
        width: calc(70vw - 30px);
      }
      &__text-form {
        width: calc(70vw - 30px);
        margin-top: 5px;
      }
      &__submit-btn {
        background-color: white;
        width: 50px;
      }
    }
  }
}
.Movie-box {
  
  width: 200px;
  margin: 0px, 20px;
    &__title {
      text-align: center;
      color: black;
    }
}